.row1 {
	/* background-color: hotpink; */
	margin: 10px;
}

.row2 {
	/* background-color: lightcyan; */
	margin: 10px;
}
.row3 {
	/* background-color: lightcyan; */
	margin: 10px;
}

.proj1 {
	background-color: yellowgreen;
	margin: 10px;
}

.proj2 {
	background-color: yellow;
	margin: 10px;
}
.proj3 {
	background-color: lightskyblue;
	margin: 10px;
}
.proj4 {
	background-color: darkolivegreen;
	margin: 10px;
}
.proj5 {
	background-color: darkviolet;
	margin: 10px;
}
.proj6 {
	background-color: darkslategrey;
	margin: 10px;
}
.proj7 {
	background-color: darkslategrey;
	margin: 10px;
}
