.row1 {
	/* background-color: hotpink; */
	margin: 10px;
}

.row2 {
	/* background-color: lightcyan; */
	margin: 10px;
}
.row3 {
	/* background-color: lightcyan; */
	margin: 10px;
}

.proj1 {
	background-color: yellowgreen;
	margin: 10px;
}

.proj2 {
	background-color: yellow;
	margin: 10px;
}
.proj3 {
	background-color: lightskyblue;
	margin: 10px;
}
.proj4 {
	background-color: darkolivegreen;
	margin: 10px;
}
.proj5 {
	background-color: darkviolet;
	margin: 10px;
}
.proj6 {
	background-color: darkslategrey;
	margin: 10px;
}
.proj7 {
	background-color: darkslategrey;
	margin: 10px;
}

.project-card {
	max-width: 20rem;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.project-card-text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(29, 106, 154, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;

	/* justify-content: center; */
	/* align-items: center; */

	/* transition effect. */
	/* transition: opacity 0.2s, visibility 0.2s; */
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.project-card:hover .project-card-text {
	visibility: visible;
	opacity: 1;
}

.project-card:hover .project-card-text,
.project-card:focus .project-card-text {
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.project-card:hover .project-card-text:before,
.project-card:focus .project-card-text:before {
	display: block;
}

.project-card:hover a,
.project-card:focus a {
	display: block;
}

.project-card-text:before {
	content: '';
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(52, 73, 94, 0.75);
}
