.row1 {
	/* background-color: hotpink; */
	margin: 10px;
}

.row2 {
	/* background-color: lightcyan; */
	margin: 10px;
}
.row3 {
	/* background-color: lightcyan; */
	margin: 10px;
}

.proj1 {
	/* background-color: yellowgreen; */
	margin: 10px;
}

.proj2 {
	/* background-color: yellow; */
	margin: 10px;
}
.proj3 {
	/* background-color: lightskyblue; */
	margin: 10px;
}
.proj4 {
	/* background-color: darkolivegreen; */
	margin: 10px;
}
.proj5 {
	/* background-color: darkviolet; */
	margin: 10px;
}
.proj6 {
	/* background-color: darkslategrey; */
	margin: 10px;
}
.proj7 {
	/* background-color: darkslategrey; */
	margin: 10px;
}

/* .project-card {
	max-width: 20rem;
	overflow: hidden;
	position: relative;
	display: inline-block;
} */

.previous-card-front {
	max-width: 400px;
	/* min-height: 275px; */
}

.previous-card-back {
	max-width: 400px;
	min-height: 245px;
}

.outer-container {
	background-color: #7510f7;
	width: 100vw;
	/* margin-left: -10px; */
	margin-bottom: -10px;
}
