.modal {
	color: white;
}

.body-modal {
	background-color: #7510f7;
}

.inside-modal-button {
	background-color: white;
	color: #7510f7;
	border-color: white;
}

.inside-modal-button:hover {
	color: white;
	background-color: #7510f7;
	border-color: white;
}
