.modal {
	/* font-family: 'Graduate', cursive; */
	color: #301014;
}

.body-modal {
	background-color: #f8f4e3;
}

.inside-modal-button {
	background-color: #301014;
	color: #a2a392;
	border-color: #301014;
}

.inside-modal-button:hover {
	color: #301014;
	background-color: #a2a392;
	border-color: #a2a392;
}
