.row1 {
	/* background-color: hotpink; */
	/* margin-top: 10px;
	margin-bottom: 10px; */
	max-width: 75vw;
	margin: auto;
}

.row2 {
	/* background-color: lightcyan; */
	/* margin: 10px; */
	max-width: 75vw;
	margin: auto;
}

.proj1 .proj2 .proj3 .proj4 .proj5 {
	/* background-color: yellowgreen; */
	/* margin: 10px; */
}

.proj4 .proj5 {
	text-align: center;
	justify-content: center;
	margin-left: 250px;
}

.recent-card-front {
	max-width: 400px;
	/* min-height: 275px; */
}

.recent-card-back {
	max-width: 400px;
	min-height: 245px;
}

.outer-recent {
	/* background-color: #7510f7; */
	width: 100vw;
	margin-top: -180px;
}

.recent-title {
	color: white;
	margin-bottom: 20px;
}
