.modal-button {
	margin: 50px;
	background-color: #301014;
	border-color: #301014;
	color: white;
	font-size: 25px;
}

.modal-button:hover,
.add-button:hover {
	background-color: white;
	color: #32a501;
	/* border-color: black; */
	text-decoration: none;
}
.about-container {
	background-color: gray;
	margin: 10px;
}

.words {
	background-color: gold;
	margin: 10px;
}
